build
build/revision
*.xcodeproj/*.pbxuser
*.xcodeproj/*.perspectivev3
*.xcodeproj/*.mode1v3
*.xcodeproj/*.tm_build_errors
*.xcodeproj/*.xcworkspacedata
*.xcodeproj/*.xcuserstate
xcuserdata
*.xcuserstate
*.xcworkspace
*.xcbkptlist
*.tmproj
.DS_Store
DerivedData/*
/Pods/
# Cart
Cartfile.resolved
Carthage/
# Node
node_modules/
# Fastlane Automation
.idea/
8BGAVNS6SL.cer
8BGAVNS6SL.certSigningRequest
8BGAVNS6SL.p12
AppStore_vn.chotot.iosapp.mobileprovision
AppStore_vn.chotot.iosapp-Dev.mobileprovision
*.ipa
*.app.dSYM.zip

artifacts
fastlane/artifacts
fastlane/artefacts
fastlane/fastlane/artifacts
fastlane/fastlane/artefacts
fastlane/report.xml
fastlane/test_output/*
fastlane/CodeCoverage/*
ChoTot/container/*.json
Pods/

*.generated.swift
R.generated.swift
FireBaseCrashlyticsUploaddSYMs.log